.container {
  max-width: 100%;
  margin: 20px 50px;
}

.row {
  display: flex;
}

.col-100 {
  width: 100%;
}

.col-90 {
  width: 90%;
}

.col-40 {
  width: 40%;
}

.col-50 {
  width: 50%;
}

.col-20 {
  width: 20%;
}

@media screen and (max-width: 800px) {
  .container {
    max-width: 100%;
    margin: 15px;
  }

  .row {
    display: flex;
    flex-direction: column;

    /* justify-content: space-between; */
  }

  main > .row {
    display: flex;
    flex-direction: row;
  }

  .col-50 {
    width: 97%;
  }

  .col-50 > img {
    width: 100%;
    height: 25vh;
    object-fit: cover;
  }

  .row > .marg {
    margin: 5px;
  }

  li > .park-pad {
    padding: 8px;
  }

  .row > .col-10 > #sub {
    width: 97%;
    margin: 0 5px 5px;
  }

  .col-50 > .row > .col-20 {
    width: 100%;
    font-size: 22px;
  }

  .col-60 {
    width: 100%;
  }

  main > .row > .search {
    padding: 7px;
    border-radius: 5px;
    width: 100%;
  }

  header > .park-marg {
    margin-bottom: 0;
  }

  .row > .col-90 {
    width: 97%;
  }

  .row > .col-90 > .text-marg {
    margin: 5px 5px 0;
  }
}
