* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

a {
  cursor: pointer;
}

h1 {
  font-family: "Crimson Text", serif;
}

h2 {
  font-family: "Crimson Text", serif;
  margin: 0;
}

h3 {
  font-family: "Didact Gothic", serif;
  color: white;
  transition: color 0.75s ease;
}

h4 {
  font-family: "Didact Gothic", serif;
  color: black;
}

h3:hover {
  color: black;
}

p {
  font-family: "Didact Gothic", serif;
  font-size: 12px;
  line-height: 2rem;
  margin: 0;
}

.head-pad {
  padding: 8px;
}

.border-r5 {
  border-radius: 5px;
}

.light-brown-bg {
  background-color: #f4efe1;
}

.brown-bg {
  background-color: #8c8061;
}

.green-bg {
  background-color: #91b69c;
}

img {
  width: 100%;
  height: 45vh;
  object-fit: cover;
}

.park-marg {
  margin-bottom: 18px;
}

.white-bg {
  background-color: white;
}

.info-pad {
  padding: 10px 10px 5px;
}

.marg {
  margin: 10px;
}

.park-pad {
  padding: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
  box-shadow: 5px 5px 8px rgb(200, 212, 200);
  border-radius: 5px;
}

.btn {
  cursor: pointer;
  border: none;
  font-family: "Crimson Text", serif;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  margin: 10px 0;
  transition: color 0.75s ease;
}

.btn:hover {
  color: #f4efe1;
}

.flex-r {
  justify-content: flex-end;
}

.white-t {
  color: white;
}

.inline {
  display: inline;
}

.right {
  float: right;
  margin: 10px 20px 5px 0;
}

.center {
  justify-content: center;
  text-align: center;
}

.msg-center {
  text-align: center;
  margin-top: 50px;
}

.marg-0 {
  margin: 0;
}

.search {
  margin-bottom: 18px;
  padding: 3px;
  border-radius: 5px;
}

input {
  width: 100%;
  background-color: #f4efe1;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  outline-width: 0;
  color: #91b69c;
}

input::placeholder {
  color: #91b69c;
}

input:focus::placeholder {
  color: transparent;
}

header {
  margin-bottom: 18px;
}

.text-marg {
  margin: 5px;
}

#comment {
  width: 97%;
  border: none;
  outline-width: 0;
  margin: 5px;
  resize: none;
}

#comment::placeholder {
  color: black;
  font-family: "Didact Gothic", serif;
  font-size: 12px;
}

#comment:focus::placeholder {
  color: transparent;
}

.text-tb {
  margin: 10px 0;
}

#sub {
  color: white;
  border: none;
  font-size: 20px;
  font-family: "Crimson Text", serif;
  background-color: #8c8061;
  padding: 2px 8px;
  margin: 5px;
  transition: color 0.75s ease;
  float: right;
}

#sub:hover {
  color: #91b69c;
}

textarea {
  font-family: "Didact Gothic", serif;
}
